﻿@page
@using Tutorial.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class ="jumbotron">
    <center><h1> เว็บจัดหาติวเตอร์และจัดหาติวเตอร์ส่วนตัว </h1></center>

</div>
<style>
 body{
      background: url(back.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }
  .jumbotron{
     background-image: url("giphy.gif");
     color: green;
 }
</style>

<div class = "row">
<h2>วิชา</h2>
    @foreach (var item in Model.Subject)
    {
        <div class = "col-md-6">
            <h3>วิชา @item.nameSubject </h3>
            <h4>ชั่วโมง @item.hour </h4>
            <h4>ราคา @item.price </h4>
            <h4> สถานที่ @item.location</h4>
            <h4>จำนวนคนที่รับ @item.Numberofparticipants</h4>
            @if(@item.Numberofparticipants > 0)
            {
                <a href ="">จอง </a>
            }
            else{
                <p> จำนวนคนที่รับเต็มแล้ว</p>
            }
            
        </div>
    }
</div>