@page
@model Tutorial.Pages.SubjectAdmin.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject.nameSubject" class="control-label"></label>
                <input asp-for="Subject.nameSubject" class="form-control" />
                <span asp-validation-for="Subject.nameSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.hour" class="control-label"></label>
                <input asp-for="Subject.hour" class="form-control" />
                <span asp-validation-for="Subject.hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.price" class="control-label"></label>
                <input asp-for="Subject.price" class="form-control" />
                <span asp-validation-for="Subject.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.location" class="control-label"></label>
                <input asp-for="Subject.location" class="form-control" />
                <span asp-validation-for="Subject.location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject.Numberofparticipants" class="control-label"></label>
                <input asp-for="Subject.Numberofparticipants" class="form-control" />
                <span asp-validation-for="Subject.Numberofparticipants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
