@page
@model Tutorial.Pages.SubjectAdmin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject.nameSubject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.nameSubject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject.hour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.hour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject.location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject.Numberofparticipants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.Numberofparticipants)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Subject.SubjectID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
