@page
@model Tutorial.Pages.SubjectAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject.nameSubject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.nameSubject)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject.hour)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.hour)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject.location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject.Numberofparticipants)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.Numberofparticipants)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Subject.SubjectID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
