@page
@model Tutorial.Pages.SubjectAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].nameSubject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject[0].Numberofparticipants)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subject) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nameSubject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numberofparticipants)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubjectID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SubjectID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubjectID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
